# Confluent Cloud API credentials (for Terraform)
export CONFLUENT_CLOUD_API_KEY="XXXXXXXXXXXXXXXX"
export CONFLUENT_CLOUD_API_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
